<form class="grid-container"
      (ngSubmit)="save()"
      [formGroup]="userForm">
  <div class="name-item comic-panel">
    <img class="panel-bg-image" src="../../../assets/images/yellow_star_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding-left-right">
      <fieldset>
        <div class="name-field">
          <div
            class="form-group given-name"
            [ngClass]="{'has-danger': givenNameMessage}">
            <label
              class="form-control-label"
              for="userGivenName">
              First Name
            </label>
            <input
              class="form-control"
              id="userGivenName"
              type="text"
              formControlName="given_name"/>
            <div *ngIf="givenNameMessage"
                 class="form-control-feedback">
              {{givenNameMessage}}
            </div>
          </div>
          <div
            class="form-group family-name"
            [ngClass]="{'has-danger': familyNameMessage}">
            <label
              class="form-control-label"
              for="userFamilyName">
              Last Name
            </label>
            <input
              class="form-control"
              id="userFamilyName"
              type="text"
              formControlName="family_name"/>
            <div *ngIf="familyNameMessage"
                 class="form-control-feedback">
              {{familyNameMessage}}
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="image-item">
    <img class="image" src="../../../assets/images/tutor_4.jpg">
  </div>
  <div class="personal-item comic-panel">
    <img class="vertical-bg-image" src="../../../assets/images/red_star_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding">
      <fieldset>
        <legend>About You</legend>
        <div
          class="form-group"
          [ngClass]="{'has-danger': emailMessage}">
          <label
            class="form-control-label"
            for="userEmail">
            Email
          </label>
          <input
            class="form-control"
            id="userEmail"
            type="email"
            formControlName="email"/>
          <div *ngIf="emailMessage"
               class="form-control-feedback">
            {{emailMessage}}
          </div>
        </div>
        <div class="form-group"
             [ngClass]="{'has-danger': linkedinMessage }">
          <label
            class="form-control-label"
            for="userLinkedin">
            LinkedIn Profile
          </label>
          <input
            class="form-control"
            id="userLinkedin"
            type="text"
            formControlName="linkedin"/>
          <div *ngIf="linkedinMessage"
               class="form-control-feedback">
            {{linkedinMessage}}
          </div>
        </div>
        <div class="form-group">
          <label
            class="form-control-label"
            for="userOrg">
            Organization
          </label>
          <input
            class="form-control"
            id="userOrg"
            type="text"
            formControlName="organizations"/>
        </div>
        <div class="form-group"
             [ngClass]="{'has-danger': timeZoneMessage }">
          <label
            class="form-control-label"
            for="userTimezone">
            Timezone
          </label>
          <select
            class="form-control"
            id="userTimezone"
            formControlName="time_zone">
            <option
              *ngFor="let timeZone of timeZones"
              label="{{timeZone}}"
              value="{{timeZone}}">
            </option>
          </select>
          <div *ngIf="timeZoneMessage"
               class="form-control-feedback">
            {{timeZoneMessage}}
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="personal-item2 comic-panel">
    <img class="vertical-bg-image" src="../../../assets/images/green_dot_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding">
      <fieldset>
        <div class="form-group">
          <label
            class="form-control-label"
            for="userCountryFrom">
            Originally From
          </label>
          <input
            class="form-control"
            id="userCountryFrom"
            type="text"
            formControlName="country_from"/>
        </div>
        <div class="form-group">
          <label
            class="form-control-label"
            for="userCountryPresent">
            Lives In
          </label>
          <input
            class="form-control"
            id="userCountryPresent"
            type="text"
            formControlName="country_present"/>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="description-item comic-panel">
    <img class="panel-bg-image" src="../../../assets/images/blue_bolt_burst_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding">
      <fieldset>
        <div class="form-group"
             [ngClass]="{'has-danger': descriptionMessage }">
          <label
            class="form-control-label"
            for="userDescription">
            Bio
          </label>
          <textarea
            id="userDescription"
            type="text"
            class="form-control"
            formControlName="description"
            cols="48"
            rows="2">
          </textarea>
          <div *ngIf="descriptionMessage"
               class="form-control-feedback">
            {{descriptionMessage}}
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="errors-item comic-panel">
    <img class="vertical-bg-image" src="../../../assets/images/purple_star_burst_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding">
        <fieldset>
          <legend>Subjects</legend>
          <div formGroupName="subjects"
                [ngClass]="{'has-danger': subjectsMessage }">
            <div *ngFor="let subject of allSubjects; let i = index">
              <div class="form-check">
                <label
                  class="form-check-label"
                  for="{{ 'subject' + i }}">
                  <input
                    class="form-check-input"
                    id="{{ 'subject' + i }}"
                    type="checkbox"
                    [formControlName]="subject.toLowerCase()">
                  {{subject}}
                </label>
              </div>
            </div>
            <div *ngIf="subjectsMessage"
                 class="form-control-feedback">
              {{subjectsMessage}}
            </div>
          </div>
        </fieldset>
      <!--<h5>Experience</h5>-->
      <!--<p>4 years work experience as a mechanical engineer.</p>-->
    </div>
    <button type="submit"
            class="btn bg-yellow btn-block"
            [disabled]="!userForm.valid">
      Save
    </button>
  </div>
  <div class="experience-item comic-panel">
    <img class="vertical-bg-image" src="../../../assets/images/orange_dot_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding">
      <fieldset>
        <legend>Languages</legend>
        <div formGroupName="languages"
             [ngClass]="{'has-danger': languagesMessage}">
          <div *ngFor="let language of allLanguages; let i = index">
            <div class="form-check">
              <label
                class="form-check-label"
                for="{{ 'language' + i }}">
                <input
                  class="form-check-input"
                  id="{{ 'language' + i }}"
                  type="checkbox"
                  [formControlName]="language.toLowerCase()">
                {{language}}
              </label>
            </div>
          </div>
          <div *ngIf="languagesMessage"
               class="form-control-feedback">
            {{languagesMessage}}
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <!--<div class="schedule-item comic-panel">-->
  <!--<img class="vertical-bg-image" src="../../../assets/images/purple_bolt_bg.jpg">-->
  <!--<div class="white-overlay"></div>-->
  <!--<div class="calendar-item panel-padding">-->
  <!--<h5 class="text-center">Schedule a Session</h5>-->
  <!--<ngb-datepicker></ngb-datepicker>-->
  <!--</div>-->
  <!--<div class="buttons-item">-->
  <!--<button [routerLink]="['/home']" type="button" class="btn bg-yellow">12PM - 12:30PM</button>-->
  <!--<button [routerLink]="['/home']" type="button" class="btn bg-yellow">12PM - 12:30PM</button>-->
  <!--<button [routerLink]="['/home']" type="button" class="btn bg-yellow">12PM - 12:30PM</button>-->
  <!--</div>-->
  <!--</div>-->
</form>
<!--<br>Dirty: {{userForm.dirty}}-->
<!--<br>Touched: {{userForm.touched}}-->
<!--<br>Status: {{userForm.controls.description?.status}}-->
<!--<br>Errors: {{userForm.controls.subjects?.errors | json}}-->
<!--<br>Valid: {{userForm.valid}}-->
<!--<br>Value: {{userForm.value | json}}-->
