<form class="grid-container"
      (ngSubmit)="save()"
      [formGroup]="userForm">
  <div class="name-item comic-panel">
    <img class="panel-bg-image" src="../../../assets/images/yellow_star_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding-left-right">
      <fieldset>
        <div class="name-field">
          <div
            class="form-group given-name"
            [ngClass]="{'has-danger': userForm.get('given_name').touched && userForm.get('given_name').dirty && !userForm.get('given_name').valid }">
            <label
              class="form-control-label"
              for="userGivenName">
              First Name
            </label>
            <input
              class="form-control"
              id="userGivenName"
              type="text"
              formControlName="given_name"/>
            <div *ngIf="userForm.get('given_name').touched && userForm.get('given_name').dirty && userForm.get('given_name').errors?.required"
                 class="form-control-feedback">
              Please enter your first name.
            </div>
            <div *ngIf="userForm.get('given_name').touched && userForm.get('given_name').dirty && userForm.get('given_name').errors?.minlength"
                 class="form-control-feedback">
              The name must be at least 3 characters long.
            </div>
          </div>
          <div
            class="form-group family-name"
            [ngClass]="{'has-danger': userForm.get('family_name').touched && userForm.get('family_name').dirty && !userForm.get('family_name').valid }">
            <label
              class="form-control-label"
              for="userFamilyName">
              Last Name
            </label>
            <input
              class="form-control"
              id="userFamilyName"
              type="text"
              formControlName="family_name"/>
            <div *ngIf="userForm.get('family_name').touched && userForm.get('family_name').dirty && userForm.get('family_name').errors?.required"
                 class="form-control-feedback">
              Please enter your last name.
            </div>
            <div *ngIf="userForm.get('family_name').touched && userForm.get('family_name').dirty && userForm.get('family_name').errors?.minlength"
                 class="form-control-feedback">
              The name must be at least 3 characters long.
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="image-item">
    <img class="image" src="../../../assets/images/tutor_4.jpg">
  </div>
  <div class="personal-item comic-panel">
    <img class="vertical-bg-image" src="../../../assets/images/red_star_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding">
      <fieldset>
        <legend>About You</legend>
        <div
          class="form-group"
          [ngClass]="{'has-danger': userForm.get('email').touched && userForm.get('email').dirty && !userForm.get('email').valid }">
          <label
            class="form-control-label"
            for="userEmail">
            Email
          </label>
          <input
            class="form-control"
            id="userEmail"
            type="email"
            formControlName="email"/>
          <div *ngIf="userForm.get('email').touched && userForm.get('email').dirty && userForm.get('email').errors?.required"
               class="form-control-feedback">
            Please enter your email.
          </div>
          <div *ngIf="userForm.get('email').touched && userForm.get('email').dirty && userForm.get('email').errors?.email"
               class="form-control-feedback">
            Please enter a valid email address.
          </div>
        </div>
        <div class="form-group"
             [ngClass]="{'has-danger': userForm.get('linkedin').touched && userForm.get('linkedin').dirty && !userForm.get('linkedin').valid }">
          <label
            class="form-control-label"
            for="userLinkedin">
            LinkedIn Profile
          </label>
          <input
            class="form-control"
            id="userLinkedin"
            type="text"
            formControlName="linkedin"/>
          <div *ngIf="userForm.get('linkedin').touched && userForm.get('linkedin').dirty && userForm.get('linkedin').errors?.required"
               class="form-control-feedback">
            Please enter your LinkedIn Profile.
          </div>
          <div *ngIf="userForm.get('linkedin').touched && userForm.get('linkedin').dirty && userForm.get('linkedin').errors?.minlength"
               class="form-control-feedback">
            Please enter a valid LinkedIn profile url.
          </div>
        </div>
        <div class="form-group">
          <label
            class="form-control-label"
            for="userOrg">
            Organization
          </label>
          <input
            class="form-control"
            id="userOrg"
            type="text"
            formControlName="organizations"/>
        </div>
        <div class="form-group"
             [ngClass]="{'has-danger': userForm.get('time_zone').touched && !userForm.get('time_zone').valid }">
          <label
            class="form-control-label"
            for="userTimezone">
            Timezone
          </label>
          <select
            class="form-control"
            id="userTimezone"
            formControlName="time_zone">
            <option
              *ngFor="let timeZone of timeZones"
              label="{{timeZone}}"
              value="{{timeZone}}">
            </option>
          </select>
          <div *ngIf="userForm.get('time_zone').touched && userForm.get('time_zone').errors?.required"
               class="form-control-feedback">
            Please enter your time zone.
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="personal-item2 comic-panel">
    <img class="vertical-bg-image" src="../../../assets/images/green_dot_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding">
      <fieldset>
        <div class="form-group">
          <label
            class="form-control-label"
            for="userCountryFrom">
            Originally From
          </label>
          <input
            class="form-control"
            id="userCountryFrom"
            type="text"
            formControlName="country_from"/>
        </div>
        <div class="form-group">
          <label
            class="form-control-label"
            for="userCountryPresent">
            Lives In
          </label>
          <input
            class="form-control"
            id="userCountryPresent"
            type="text"
            formControlName="country_present"/>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="description-item comic-panel">
    <img class="panel-bg-image" src="../../../assets/images/blue_bolt_burst_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding">
      <fieldset>
        <div class="form-group"
             [ngClass]="{'has-danger': userForm.get('description').touched && userForm.get('description').dirty && !userForm.get('description').valid }">
          <label
            class="form-control-label"
            for="userDescription">
            Bio
          </label>
          <textarea
            id="userDescription"
            type="text"
            class="form-control"
            formControlName="description"
            cols="48"
            rows="2">
          </textarea>
          <div *ngIf="userForm.get('description').touched && userForm.get('description').dirty && userForm.get('description').errors?.required"
               class="form-control-feedback">
            Please write a brief bio about yourself.
          </div>
          <div *ngIf="userForm.get('description').touched && userForm.get('description').dirty && userForm.get('description').errors?.minlength"
               class="form-control-feedback">
            Your bio must be at least 20 characters long.
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="errors-item comic-panel">
    <img class="vertical-bg-image" src="../../../assets/images/purple_star_burst_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding">
        <fieldset>
          <legend>Subjects</legend>
          <div *ngFor="let subject of subjects">
            <div class="form-check"
                 [ngClass]="{'has-danger': userForm.get('subjects').touched && userForm.get('subjects').dirty && !userForm.get('subjects').valid }">
              <label
                class="form-check-label"
                for="{{subject}}">
                <input
                  class="form-check-input"
                  id="{{subject}}"
                  type="checkbox"
                  formControlName="subjects"
                  value="{{subject}}">
                {{subject}}
              </label>
              <div *ngIf="userForm.get('subjects').touched && userForm.get('subjects').dirty && userForm.get('subjects').errors?.required"
                   class="form-control-feedback">
                Please check at least one subject.
              </div>
            </div>
          </div>
        </fieldset>
      <!--<h5>Experience</h5>-->
      <!--<p>4 years work experience as a mechanical engineer.</p>-->
    </div>
    <button type="submit"
            class="btn bg-yellow btn-block">
            <!--[disabled]="!userForm.valid">-->
      Save
    </button>
  </div>
  <div class="experience-item comic-panel">
    <img class="vertical-bg-image" src="../../../assets/images/orange_dot_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding">
      <fieldset>
        <legend>Languages</legend>
        <div *ngFor="let language of languages">
          <div class="form-check"
               [ngClass]="{'has-danger': userForm.get('languages').touched && userForm.get('languages').dirty && !userForm.get('languages').valid }">
            <label
              class="form-check-label"
              for="{{language}}">
              <input
                class="form-check-input"
                id="{{language}}"
                type="checkbox"
                formControlName="languages"
                value="{{language}}">
              {{language}}
            </label>
            <div *ngIf="userForm.get('languages').touched && userForm.get('languages').dirty && userForm.get('languages').errors?.required"
                 class="form-control-feedback">
              Please check at least one language.
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <!--<div class="schedule-item comic-panel">-->
  <!--<img class="vertical-bg-image" src="../../../assets/images/purple_bolt_bg.jpg">-->
  <!--<div class="white-overlay"></div>-->
  <!--<div class="calendar-item panel-padding">-->
  <!--<h5 class="text-center">Schedule a Session</h5>-->
  <!--<ngb-datepicker></ngb-datepicker>-->
  <!--</div>-->
  <!--<div class="buttons-item">-->
  <!--<button [routerLink]="['/home']" type="button" class="btn bg-yellow">12PM - 12:30PM</button>-->
  <!--<button [routerLink]="['/home']" type="button" class="btn bg-yellow">12PM - 12:30PM</button>-->
  <!--<button [routerLink]="['/home']" type="button" class="btn bg-yellow">12PM - 12:30PM</button>-->
  <!--</div>-->
  <!--</div>-->
</form>
<br>Dirty: {{userForm.dirty}}
<br>Touched: {{userForm.touched}}
<br>Errors: {{userForm.controls.languages?.errors | json}}
<br>Valid: {{userForm.valid}}
<br>Value: {{userForm.value | json}}
