<nav class="navbar navbar-toggleable-md bg-black">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand color-yellow" [routerLink]="['/welcome']">
    <img class="logo" src="../../assets/images/logo.png">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link color-yellow bangers" [routerLink]="['/welcome']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-yellow bangers" [routerLink]="['/welcome/students']">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-yellow bangers" [routerLink]="['/welcome/tutors']">Tutors</a>
        </li>
      </ul>
  </div>
  <i *ngIf="isAuthenticated()" class="fa fa-comments color-yellow" [routerLink]="['/home']"></i>
  <div ngbDropdown>
    <i *ngIf="isAuthenticated()" class="fa fa-user" ngbDropdownToggle></i>
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item disabled">Manage Account</button>
      <button (click)="logout()" class="dropdown-item">Sign Out</button>
    </div>
  </div>
  <i *ngIf="!isAuthenticated()" (click)="login()" class="fa fa-sign-in color-yellow"></i>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
<footer class="footer bg-black">
  <span class="social-media">
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-linkedin-square"></i>
    <i class="fa fa-google-plus-square"></i>
    <i class="fa fa-twitter-square"></i>
    <i class="fa fa-envelope"></i>
  </span>
</footer>
