<div class="grid-container">
  <div class="bg-image">
    <div class="tutor-image image-container">
      <img class="image" src="../../../assets/images/tutor_2.png">
      <div class="header-box">
        <h5 class="color-yellow">Jeremy Kraynak</h5>
      </div>
    </div>
    <div class="student-image image-container">
      <img class="image-2" src="../../../assets/images/video_student.png">
      <div class="header-box">
        <h5 class="color-yellow">Illiad James</h5>
      </div>
    </div>
    <div class="chat image-container">
      <div class="header-box">
        <h5 class="color-yellow">Messages</h5>
      </div>
      <div class="chat-text">
        <p>Jeremy - Ready to get started?</p>
        <p>Illiad - Yeah!</p>
      </div>
    </div>
  </div>
</div>

<!--<button type="button" class="btn bg-inverse text-white" (click)="open(content)">End Session</button>-->


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Feedback and Review</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <textarea placeholder="Enter your session feedback here."></textarea>
    <textarea placeholder="Leave your review here."></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')" [routerLink]="['/student-home']">Close</button>
  </div>
</ng-template>
