.tile {
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  height: 20rem;
}

.testimonial-title {
  grid-area: 1 / 1 / 2 / 2;
  margin: 1rem;
}

.testimonials {
  grid-area: 2 / 2 / 3 / 3;
}


