<div class="grid-container">
  <div class="comic-panel" id="name-item">
    <img class="bg-image" src="../../../assets/images/yellow_star_bg.jpg">
    <div class="white-overlay-light"></div>
    <div class="text">
      <h5 class="no-margin">{{session.appointment}}</h5>
    </div>
  </div>
  <div id="image-item">
    <img id="user-image" src="../../../assets/images/tutor_2.jpg">
  </div>
  <div class="comic-panel" id="personal-item">
    <img class="bg-image" src="../../../assets/images/green_dot_bg.jpg">
    <div class="white-overlay-light"></div>
    <div class="text">
      <h5>Tutor</h5>
      <p>{{session.teacher}}</p>
      <h5>Language</h5>
      <p>{{session.language}}</p>
      <h5>Subject</h5>
      <p>{{session.subject}}</p>
      <h5>Description</h5>
      <p>{{session.description}}</p>
    </div>
  </div>
  <div id="button-item">
    <button type="button" class="btn bg-yellow btn-block" [routerLink]="['/videochat']">Start Session</button>
  </div>
</div>
