.fa {
  color: white;
}

.fa-user, .fa-comments {
  padding-right: 1rem;
}

.social-media {
  padding-left: 1rem;
}

.social-media > .fa {
  padding-left: .5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.content {
  flex: 1;
}
