@import '../styles';

nav {
  border: 10px solid white;
}

.fa {
  color: $app-yellow;
}

.fa-user, .fa-comments {
  padding-right: 1rem;
}

.social-media {
  padding-left: 1rem;
}

.social-media > .fa {
  padding-left: .5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.content {
  flex: 1;
}

a:link {
  color: $app-yellow;
}
a:visited {
  color: $app-yellow;
}

footer {
  border: 10px white solid;
}

.dropdown-toggle::after {
  display:none
}

.logo {
  height: 4vh;
  width: auto;
}
