<nav class="navbar navbar-toggleable-md bg-black">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand color-yellow" [routerLink]="['/home']">EdRefuge</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link color-yellow" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-yellow" [routerLink]="['/students']">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-yellow" [routerLink]="['/tutors']">Tutors</a>
        </li>
      </ul>
  </div>
  <i class="fa fa-comments color-yellow" [routerLink]="['/student-home']"></i>
  <div ngbDropdown>
    <i class="fa fa-user" ngbDropdownToggle></i>
    <div class="dropdown-menu">
      <button class="dropdown-item" [routerLink]="['/profile']">Manage Account</button>
      <button class="dropdown-item" [routerLink]="['/home']">Sign Out</button>
    </div>
  </div>
  <i [routerLink]="['/login']" class="fa fa-sign-in color-yellow"></i>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
<footer class="footer bg-black">
  <span class="social-media">
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-linkedin-square"></i>
    <i class="fa fa-google-plus-square"></i>
    <i class="fa fa-twitter-square"></i>
    <i class="fa fa-envelope"></i>
  </span>
</footer>
