<div class="grid-container">
  <div class="title-tile">
    <app-title-tile [overlayColor]="overlayColor" [titleTextColor]="titleTextColor" [titleImage]="titleImage" [titleQuote]="titleQuote"></app-title-tile>
  </div>
  <img class="teacher" src="../../../assets/images/superTeacher.png">
  <div class="search-tile">
    <app-search-tile [searchButtonText]="searchButtonText"></app-search-tile>
  </div>
  <div id="comic-panel-1" class="panel">
    <img class="panel-image" src="../../../assets/images/pink_bolt_burst_bg.png">
  </div>
  <div id="comic-panel-2" class="panel">
    <img class="panel-image" src="../../../assets/images/green_dot_bg.png">
    <img class="content-image left" src="../../../assets/images/time.png">
    <div class="text-box bottom-right">
      <p>30 minute lessons and no long-term commitment required.</p>
    </div>
    <div class="white-overlay"></div>
  </div>
  <div id="comic-panel-3" class="panel">
    <img class="panel-image" src="../../../assets/images/red_dot_bg.png">
    <img class="content-image right" src="../../../assets/images/search_for_student.png">
    <div class="text-box top-left">
      <p>Search for the students you can help the most by language, subject, and backstory.</p>
    </div>
    <div class="white-overlay"></div>
  </div>
  <div id="comic-panel-4" class="panel">
    <img class="panel-image" src="../../../assets/images/blue_bolt_burst_bg.png">
    <img class="content-image left" src="../../../assets/images/superhero.png">
    <div class="text-box top-right">
      <p>Save the world, one lesson at a time!</p>
    </div>
    <div class="white-overlay"></div>
  </div>
  <div id="comic-panel-5" class="panel">
    <img class="panel-image" src="../../../assets/images/purple_bolt_bg.png">
  </div>
  <div id="comic-panel-6" class="panel">
    <img class="panel-image" src="../../../assets/images/green_star_burst_bg.png">
  </div>
  <div id="comic-panel-7" class="panel">
    <img class="panel-image" src="../../../assets/images/yellow_star_bg.png">
  </div>
</div>
