.teacher {
  align-self: start;
  justify-self: start;
  grid-area: 2 / 1 / 3 / end;
  z-index: 1;
  height: 16vw;
  width: auto;
  margin-top: -8vw;
  margin-left: 3vw;
}

.search-tile {
  grid-area: 2 / 1 / 3 / end;
  z-index: 1;
}

.grid-container {
  display: grid;
  grid: 60vh 40vh 40vh 40vh / repeat(12, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.title-tile {
  grid-area: 1 / 1 / 2 / end;
  border: 3px solid black;
}

#comic-panel-1 {
  grid-area: 2 / 1 / 3 / end;
}

#comic-panel-2 {
  grid-area: 3 / 1 / 4 / 5;
}

#comic-panel-3 {
  grid-area: 3 / 5 / 4 / 9;
}

#comic-panel-4 {
  grid-area: 3 / 9 / 4 / end;
}

#comic-panel-5 {
  grid-area: 4 / 1 / end / 4;
}

#comic-panel-6 {
  grid-area: 4 / 4 / end / 8;
}

#comic-panel-7 {
  grid-area: 4 / 8 / end / end;
}

.panel {
  display: grid;
  grid: repeat(12, 1fr) / repeat(12, 1fr);
  align-items: center;
  justify-items: center;
  overflow: hidden;
  width: 100%;
  height: 40vh;
  border: 3px solid black;
}

.panel-image {
  grid-area: 1 / 1 / end / end;
  width: 100%;
  height: auto;
}

.text-box {
  border: black solid 2px;
  background-color: white;
  padding: 2vh;
  z-index: 1;
}

.text-box > p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.top-right {
  grid-area: 2 / 8 / 12 / 12;
  align-self: start;
  justify-self: end;
}

.bottom-left {
  grid-area: 2 / 2 / 12 / 6;
  align-self: end;
  justify-self: start;
}

.top-left {
  grid-area: 2 / 2 / 12 / 6;
  align-self: start;
  justify-self: start;
}

.bottom-right {
  grid-area: 2 / 8 / 12 / 12;
  align-self: end;
  justify-self: end;
}

.left {
  grid-area: 2 / 2 / 12 / 8;
  justify-self: start;
  align-self: end;
}

.right {
  grid-area: 2 / 5 / 12 / 12;
  justify-self: end;
  align-self: end;
}

.content-image {
  height: 100%;
  width: auto;
  z-index: 1;
}

.white-overlay {
  grid-area: 1 / 1 / end / end;
  height: 100%;
  width: 100%;
  opacity: .7;
  background-color: white;
}


