.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40vh;
  border: 3px solid black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.panel-image {
  height: 100%;
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}



