#hero {
  align-self: start;
  justify-self: end;
  grid-area: 2 / 1 / 3 / end;
  z-index: 1;
  height: 16vw;
  width: auto;
  margin-top: -8vw;
  margin-right: 3vw;
}

#comic-panel-1 {
  grid-area: 2 / 1 / 3 / end;
}

#comic-panel-2 {
  grid-area: 3 / 1 / 4 / 4;
}

#comic-panel-3 {
  grid-area: 3 / 4 / 4 / 8;
}

#comic-panel-4 {
  grid-area: 3 / 8 / 4 / end;
}

#comic-panel-5 {
  grid-area: 4 / 1 / end / 5;
}

#comic-panel-6 {
  grid-area: 4 / 5 / end / 9;
}

#comic-panel-7 {
  grid-area: 4 / 9 / end / end;
}
