.grid-container {
  display: grid;
  grid: repeat(3, calc(60vh + 30px)) / 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.header-box {
  overflow: hidden;
  display: grid;
  grid: 10vh calc(50vh + 30px) / 1fr;
  border: 3px solid black;
}

#header-box-1 {
  grid-area: 1 / 1 / 2 / end;
}

#header-box-2 {
  grid-area: 2 / 1 / 3 / end;
}

#header-box-3 {
  grid-area: 3 / 1 / 4 / end;
}

#header-box-4 {
  grid-area: 4 / 1 / 5 / end;
}

.header-box-image {
  grid-area: 1 / 1 / end / end;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: auto;
}

.header-box-text {
  grid-area: 1 / 1 / 2 / end;
  justify-self: start;
  align-self: center;
  margin-left: 20px;
}

#current-sessions-list {
  grid-area: 2 / 1 / 3 / end;
}

#messages-list {
  grid-area: 2 / 1 / 3 / end;
}

#users-list {
  grid-area: 2 / 1 / 3 / end;
}

#past-sessions-list {
  grid-area: 2 / 1 / 3 / end;
}

.list {
  overflow: hidden;
}

.header-padding {
  padding-right: 20px;
  padding-left: 20px;
  //padding-bottom: 20px;
}
