<div class="card-container">
  <div *ngFor="let user of users" class="card">
    <div class="card-img-container">
      <img class="card-img" src="{{user.image}}">
    </div>
    <div class="card-block">
      <h4 class="card-title">{{user.first_name + ' ' + user.last_name}}</h4>
      <p class="card-text">{{user.description}}</p>
      <div [ngClass]="{'button-container':user.buttonDisabled}">
        <button [routerLink]="['/profile']" class="btn bg-yellow" [ngClass]="{'disabled':user.buttonDisabled}">More Info</button>
      </div>
    </div>
  </div>
</div>

<!--[style.background-image]="'url(' + user.background + ')'"-->
