<div class="grid-container">
  <div class="name-item comic-panel">
    <img class="panel-bg-image" src="../../../assets/images/yellow_star_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding">
      <h5>{{user.name}}</h5>
    </div>
  </div>
  <div class="image-item">
    <img class="image" src="../../../assets/images/tutor_4.jpg">
  </div>
  <div class="personal-item comic-panel">
    <img class="vertical-bg-image" src="../../../assets/images/orange_dot_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding">
      <h5>LinkedIn Profile</h5>
      <p>{{user.linkedin}}</p>
      <h5>Description</h5>
      <p>{{user.description}}</p>
      <!--<h5>Originally From</h5>-->
      <!--<p>{{user.country_from}}</p>-->
      <!--<h5>Lives In</h5>-->
      <!--<p>{{user.country_living}}</p>-->
      <!--<h5>Organization</h5>-->
      <!--<p>{{user.organization}}</p>-->
      <!--<h5>Timezone</h5>-->
      <!--<p>{{user.time_zone}}</p>-->
    </div>
    <button [routerLink]="['/users', user.id, 'edit']" type="button" class="btn bg-yellow btn-block">Edit</button>
  </div>
  <div class="skill-item comic-panel">
    <img class="vertical-bg-image" src="../../../assets/images/green_dot_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding">
      <!--<h5>Languages</h5>-->
      <!--<p *ngFor="let language of user.languages">-->
        <!--{{language}}-->
      <!--</p>-->
      <!--<h5>Subjects</h5>-->
      <!--<p>Science</p>-->
      <!--<h5>Experience</h5>-->
      <!--<p>4 years work experience as a mechanical engineer.</p>-->
    </div>
  </div>
  <div class="review-item comic-panel">
    <img class="panel-bg-image" src="../../../assets/images/blue_bolt_burst_bg.jpg">
    <div class="white-overlay"></div>
    <div class="panel-text panel-padding">
      <!--<h5>Reviews</h5>-->
      <!--<p *ngFor="let review of user.reviews">{{review}}</p>-->
    </div>
  </div>
  <!--<div class="schedule-item comic-panel">-->
    <!--<img class="vertical-bg-image" src="../../../assets/images/purple_bolt_bg.jpg">-->
    <!--<div class="white-overlay"></div>-->
    <!--<div class="calendar-item panel-padding">-->
      <!--<h5 class="text-center">Schedule a Session</h5>-->
      <!--<ngb-datepicker></ngb-datepicker>-->
    <!--</div>-->
    <!--<div class="buttons-item">-->
      <!--<button [routerLink]="['/home']" type="button" class="btn bg-yellow">12PM - 12:30PM</button>-->
      <!--<button [routerLink]="['/home']" type="button" class="btn bg-yellow">12PM - 12:30PM</button>-->
      <!--<button [routerLink]="['/home']" type="button" class="btn bg-yellow">12PM - 12:30PM</button>-->
    <!--</div>-->
  <!--</div>-->
</div>
