<div class="grid-container">
  <app-title-tile [titleQuote]="titleQuote" [titleAuthor]="titleAuthor"></app-title-tile>
  <app-search-tile></app-search-tile>
  <app-feature-tile [aboutQuote1]="aboutQuote1" [aboutQuote2]="aboutQuote2" [aboutQuote3]="aboutQuote3"></app-feature-tile>
  <app-get-started-tile [step1]="step1" [step2]="step2" [step3]="step3"></app-get-started-tile>
  <app-testimonial-tile [testimonialQuote1]="testimonialQuote1" [testimonialQuote2]="testimonialQuote2" [testimonialQuote3]="testimonialQuote3"></app-testimonial-tile>
</div>
