.grid-container {
  height: 80vh;
  display: grid;
  grid: repeat(5, 1fr) / repeat(5, 1fr);
}

.comic-panel {
  grid-area: 3 / 3 / 4 / 4;
  border: 3px solid black;
  display: grid;
  grid: repeat(3, 1fr) / 1fr;
  height: 30vh;
  width: auto;
  overflow: hidden;
  justify-items: center;
  align-items: center;
}

.image {
  grid-area: 1 / 1 / end / end;
  width: 100%;
  height: auto;
}

form {
  grid-area: 1 / 1 / end / end;
  margin: 5vh;
}

.username, .password {
  margin-bottom: 2vh;
  width: 100%;
}


