/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

.fa {
  font-size: x-large;
}

html, body {
  height: 100vh;
}

app-root {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}




