<app-title-tile [titleQuote]="titleQuote"></app-title-tile>
<div class="double-search">
  <app-search-tile class="double-search-items" [searchButtonText]="searchButtonText1"></app-search-tile>
  <app-search-tile class="double-search-items" [searchButtonText]="searchButtonText2"></app-search-tile>
</div>
<app-feature-tile [aboutQuote1]="aboutQuote1" [aboutQuote2]="aboutQuote2" [aboutQuote3]="aboutQuote3"></app-feature-tile>
<app-testimonial-tile [testimonialQuote1]="testimonialQuote1" [testimonialQuote2]="testimonialQuote2" [testimonialQuote3]="testimonialQuote3"></app-testimonial-tile>


