.tile {
  display: grid;
  background-color: black;
  grid: repeat(3, 1fr) / repeat(5, 1fr);
  height: 20rem;
  align-items: center;
}

.search-group {
  grid-area: 2 / 2 / 3 / 5;
}

.search-button {
  margin-top: 1rem;
}



