.tile {
  display: grid;
  grid: repeat(3, 1fr) / repeat(5, 1fr);
  width: auto;
  height: 40vh;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  grid-area: 1 / 1 / end / end;
}

.search-group {
  grid-area: 2 / 2 / 3 / 5;
}

.search-button {
  margin-top: 1rem;
}



