.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid: repeat(12, 1fr) / repeat(12, 1fr);
  align-items: center;
  justify-items: center;
}

.content-image {
  height: 100%;
  width: auto;
}

.feature-text {
  border: black solid 2px;
  background-color: white;
  padding: 2vh;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2vh;
}

.bubble-text {
  text-align: center;
}

.top-right {
  grid-area: 2 / 8 / 12 / 12;
  align-self: start;
  justify-self: end;
}

.long-top-right {
  grid-area: 2 / 7 / 12 / 12;
  align-self: start;
  justify-self: end;
}

.bottom-left {
  grid-area: 2 / 2 / 12 / 6;
  align-self: end;
  justify-self: start;
}

.long-bottom-left {
  grid-area: 2 / 2 / 12 / 7;
  align-self: end;
  justify-self: start;
}

.long-bottom-right {
  grid-area: 2 / 7 / 12 / 12;
  align-self: end;
  justify-self: start;
}

.top-left {
  grid-area: 2 / 2 / 12 / 6;
  align-self: start;
  justify-self: start;
}

.bottom-right {
  grid-area: 2 / 8 / 12 / 12;
  align-self: end;
  justify-self: end;
}

.left {
  grid-area: 2 / 2 / 12 / 8;
  justify-self: start;
  align-self: end;
}

.right {
  grid-area: 2 / 5 / 12 / 12;
  justify-self: end;
  align-self: end;
}

.center {
  grid-area: 2 / 2 / 12 / 12;
}

.bubble-text-center {
  grid-area: 4 / 4 / 10 / 10;
}

.white-overlay {
  grid-area: 1 / 1 / end / end;
  height: 100%;
  width: 100%;
  opacity: .7;
  background-color: white;
  z-index: -1;
}

.number {
  height: 10vh;
  width: auto;
}
