.grid-container {
  display: grid;
  grid: 1fr / repeat(5, 1fr);
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.panel {
  display: grid;
  grid: 7vh 51vh 20vh / 1fr;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  grid-area: 1 / 2 / end / 5;
  border: 3px solid black;
  background-image: url("../../../assets/images/green_star_burst_bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: start;
}

.header-text {
  grid-area: 1 / 1 / 2 / end;
  align-self: center;
  margin: 0;
}

.comments-block {
  grid-area: 2 / 1 / 3 / end;
  background-color: white;
  overflow-y: scroll;
  height: 50vh;
  border: 3px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2vh;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comments-footer {
  margin-top: 20px;
  grid-area: 3 / 1 / end / end;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px dotted grey;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}


.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

button {
  margin-top: 10px;
}

.chat-img-container.float-left, .chat-img-container.float-right {
  height: 5vh;
  width: 5vh;
  overflow: hidden;
}

.chat-img {
  height: 100%;
  width: auto
}

i {
  font-size: 1rem;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.text-right {
  text-align: right;
}

